---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% include base_path %}

<div class="profiles">
  {% for person in site.people %}
    <div class="profile">
      <div class="profile-image">
        <img src="{{ person.photo }}" alt="{{ person.name }}">
      </div>
      <div class="profile-text">
        <h2>{{ person.name }}</h2>
        <p>{{ person.position }}</p>
        <div class="bio">
          {{ person.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
