<div class="archive__item">
  {% if post.teaser %}
    <div class="archive__item-teaser">
      <img src="{{ post.teaser | relative_url }}" alt="">
    </div>
  {% endif %}
  <div class="archive__item-body">
    {% if post.citation %}
      <p class="archive__item-citation">
        {{ include.pub_number }}.
        {{ post.citation | markdownify | remove: '<p>' | remove: '</p>' }}
        {% if post.doi %}
          doi: <a href="{{ post.doi }}">{{ post.doi }}</a> 
        {% endif %}
      </p>
    {% endif %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}
  </div>
</div>