/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: #f8f5f2;
  border-bottom: 1px solid $border-color;
  height: $masthead-height;
  top: 0;
  padding-left: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 10;

  &__inner-wrap {
    margin-left: 7em;
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $serif;
    text-align: left;
    max-width: $x-large;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__inner-wrap {
    max-width: 1024px;
    margin-left: 7em;
    margin-right: auto;
    clear: both;
    padding: 1em 1em 1em;
    font-family: Georgia,serif
}

.masthead__menu {

  a {
    font-size: $type-size-4 !important;
    font-family: $serif;
    color: $darker-gray !important;
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 5.2em;
    padding-left: -10em;
    font-weight: 700;
  }
}