/* ==========================================================================
   Profiles
   ========================================================================== */

   .profiles {
    display: flex;
    flex-wrap: wrap;
  }
  
  .profile {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .profile-image {
    flex: 0 0 150px;
    margin-right: 20px;
  }
  
  .profile-image img {
    max-width: 100%;
  }
  
  .profile-text {
    flex: 1;
  }
  
  .profile-text h2 {
    font-size: $type-size-5;
    margin: 8px 0;
    font-weight: bold;
  }
  
  .profile-text p {
    font-size: $type-size-6;
    color: $text-color;
  }
  
  .profile-text .bio {
    margin-top: 8px;
    font-size: $type-size-6;
    color: $text-color;
  }
  
  
