/* ==========================================================================
   Profiles
   ========================================================================== */

   .profiles {
    display: flex;
    flex-wrap: wrap;
  }
  
  .profile {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .profile-image {
    flex: 0 0 150px;
    margin-right: 20px;
  }
  
  .profile-image img {
    max-width: 100%;
  }
  
  .profile-text {
    flex: 1;
  }
  
  .profile-text h2 {
    font-size: $type-size-5;
    margin: 0 0 10px 0; /* Adjust the bottom margin to reduce space */
    font-weight: bold;
  }
  
  .profile-text p {
    font-size: $type-size-6;
    color: $text-color;
    margin-top: 5px; /* Adjust the top margin to reduce space */
  }
  
  
  .profile-text .bio {
    margin-top: 0px;
    font-size: $type-size-6;
    color: $text-color;
  }

/* ==========================================================================
   Responsive Styles
   ========================================================================== */

   @media (max-width: 600px) {
    .profile {
      flex-direction: column;
      align-items: left;
    }
  
    .profile-image {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .profile-text {
      text-align: left;
    }
  }