---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";
@import "profile";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";
@import "custom";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.page__hero,
.page__hero--overlay {
  min-height: 220px;   /* or 400px, tweak to taste */
}

/* ensure the hero takes full width at the top */
.page__hero {
  width: 100%;
  display: block;
}

/* sidebar container */
.sidebar {
  position: sticky;
  top: 30px;          /* or top: 60px; if you have a fixed masthead of 60px */
  align-self: flex-start;
}