---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";
@import "profile";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";
@import "custom";
@import "styles";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.page__hero,
.page__hero--overlay {
  min-height: 300px;   /* or 400px, tweak to taste */
}

/* ensure the hero takes full width at the top */
.page__hero {
  width: 100%;
  display: block;
}


@media (max-width: $medium) {

  .sidebar {
    position: static;      // no fixed/sticky on phone
    height: auto;          // let it grow naturally
    overflow-y: visible;   // no scroll container
    margin: 0 0 1em 0;     // remove negative margins
    padding-top: 40px;        // no masthead offset
  }

  .author__avatar {
    display: block;
    width: 80px;
  }

  .author__content {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .masthead__inner-wrap {
    margin-left: -5em !important;
  }  

  .greedy-nav {
    .site-title {
      font-size: $type-size-5 !important;  // or whatever step down you prefer
      line-height: 1.1;                    // optional: keeps it compact
  }
  }
    
  /* .greedy-nav button.hidden {
    display: inline-flex !important;
    visibility: visible;
  }

  .greedy-nav .visible-links {
    display: none !important;
  }


  .greedy-nav .hidden-links {
    display: flex;         // or block, etc.
    flex-direction: column;
    }


  .greedy-nav .hidden-links.hidden {
  display: none;
  visibility: hidden;
  }


  .greedy-nav {

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
    /*/
}