---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="site">  

    {% include browser-upgrade.html %}

    <div class="site-content"> 
      {% include masthead.html %}

      {{ content }}
    </div>

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>